
.stuff-grid {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
  }
  
  .assignment-pane {
    transition: transform 0.3s ease-in-out;
    margin: 20px;
    background-size: cover;
    background-position: center;
    border-radius:8px;
    &:hover {
      transform: scale(1.05);
    }
  }
  
  mat-card-content{
    width: 100%;
    color:green;
    padding: 3px;
    margin: 5px;
  }
  
  mat-card-actions{
    padding: 40px;
  
  }
  
  
  .example-card {
    max-width: 400px;
    box-shadow:3px 3px 3px 0 green;
    border-radius:8px;
    border:solid 1px grey;
  }
  
  img{
    width: 269px;
    height: 150px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    margin-bottom: 5px;
  }