<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card class="add">Liste des Assignments deja Evalués</mat-card>
<div class="container">
<p class="text-center" *ngIf="assignment.length <= 0 && !loading">Pas d'assignments !</p>
<div class="stuff-grid" *ngIf="assignment.length >= 0">
  <div class="assignment-pane" *ngFor="let assignment of assignment" 
>
    <mat-card class="example-card" *ngIf="assignment.note">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ assignment.nom }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ assignment.imageUrl }}" />
      <mat-card-content>
        <p>
          Attribuer à: {{ assignment.auteur}}
        </p>
        <div *ngIf="assignment.note">
          <p> Tp rendu | Votre notes est : {{ assignment.note }} </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
         <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onModify(assignment._id)"><mat-icon>edit</mat-icon></button>
         <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="onDelete(assignment._id)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
 </div>
</div>
</div>

