.add{
  text-align: center;
  color: green;
  font-size: 30px;
  font-weight: bold;
  font-family:'Times New Roman';
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 20px;
  }
  
  .contenu {
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    border-radius:8px;
    &:hover {
      transform: scale(1.05);
    }
  }
  
  mat-card-content{
    text-align: center;
    width: 100%;
    color:green;
    padding: 3px;
    margin: 5px;
  }
  
  mat-card-actions{
    align-content: center; 
  }
   
  .card {
    width: 270px;
    box-shadow:3px 3px 3px 0 green;
    border-radius:8px;
    border:solid 1px grey;
    margin: 5px;
    text-align: center;
  }
  
  img{
    width: 269px;
    height: 150px;
    border-bottom: solid 1px green;
    border-top: solid 1px green;
  }
  
  .header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    margin-bottom: 5px;
  }