<mat-spinner *ngIf="loading"></mat-spinner>
<mat-card class="add">Liste des Assignments en retard</mat-card>
<div class="container">
<p class="text-center" *ngIf="assignment.length <= 0 && !loading">Pas d'assignments !</p>
<div class="stuff-grid" *ngIf="assignment.length >= 0">
  <div class="assignment-pane" *ngFor="let assignment of assignment" 
>
    <mat-card class="example-card"  *ngIf=" (!assignment.note) && (assignment.dateRendu | date: 'yMMdd') < (dateactuelle | date: 'yMMdd')">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ assignment.nom }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ assignment.imageUrl }}" />
      <mat-card-content>
        <div *ngIf="!assignment.note">
          <strong>Attribuer à: {{ assignment.auteur}}</strong><hr/>
          <p> La date de rendu est  : {{ assignment.dateRendu | date:'dd/MM/yyyy'}}</p><hr/>
          <p> Date de rendu depassée,<br/> vous etes en retard</p>
      </div>      
      </mat-card-content>
      <mat-card-actions>
         <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onModify(assignment._id)"><mat-icon>edit</mat-icon></button>
         <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="onDelete(assignment._id)"><mat-icon>delete</mat-icon></button>
         <button *ngIf="!assignment.note" mat-fab color="primary" aria-label="Example icon button with a delete icon"(click)="onNote(assignment._id)">Noter</button>
      </mat-card-actions>
    </mat-card>
 </div>
</div>
</div>

