input[type="file"] {
  visibility: hidden;
}
.image-preview {
  img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: solid 3px gainsboro;
  }
}

.btn-image{
  justify-content: center;
  margin: 10px;
}

.example-full-width {
  width: 100%;
  height: 100px;

}

mat-card{
  margin:4%;
  border:solid 2px red;
}