<mat-spinner *ngIf="loading"></mat-spinner>
<div *ngIf="!loading" class="col-sm-10 offset-sm-1 mt-1">
  <form [formGroup]="assignmentForm">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
      <mat-card-content>
        <div class="row">
          <div class="col-sm-6 mt-1">
            <input type="file" #filePicker (change)="onImagePick($event)">
            <div class="image-preview" *ngIf="imagePreview">
              <img [src]="imagePreview" alt="">
            </div>
            <mat-form-field appearance="outline" class="example-full-width" *ngIf="assignment.note"
              style="margin-top: 25px;">
              <mat-label>Note sur 20</mat-label>
              <input readonly="readonly" matInput type="number" id="note" formControlName="note" min="0" autocomplete="off" />
            </mat-form-field>
          </div>
          <div class="col-sm-6 mt-1">
            <mat-form-field appearance="outline" class="example-full-width" style="margin-top: 25px;">
              <mat-label>Modifier Intitulé du Tp</mat-label>
              <input matInput type="text" placeholder="Nom du devoir" id="nom" formControlName="nom"
                autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Modifier l'Auteur</mat-label>
              <input matInput type="text" placeholder="Nom etudiant" id="auteur" formControlName="auteur"
                autocomplete="off" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width" *ngIf="assignment.note">
              <mat-label>Modifier Remarque</mat-label>
              <textarea matInput name="remarques" id="remarques" formControlName="remarques" autocomplete="off"
                placeholder="Décrivez votre objet (type, qualité, etc.)"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="example-full-width">
              <mat-label>Modifier la Date</mat-label>
              <input readonly="readonly" matInput [matDatepicker]="picker" placeholder="Date de rendu" id="dateRenduPrevu"
                formControlName="dateRenduPrevu">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn-image" mat-fab color="warn" type="button" (click)="filePicker.click()"
          aria-label="Example icon button with a home icon">
          <mat-icon>image</mat-icon>
        </button>
        <button class="btn-image" mat-fab color="warn" aria-label="Example icon button with a home icon" type="button"
          (click)="onSubmit()" [disabled]="assignmentForm.invalid">
          <mat-icon>edit</mat-icon>
        </button>
        <p class="alert-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
      </mat-card-actions>
    </mat-card>
  </form>
</div>