<mat-card class="add"><button mat-raised-button color="warn" (click)="onAdd()"> <mat-icon>add_task</mat-icon>
  Ajouter un Assignment</button></mat-card>
<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="assignment.length <= 0 && !loading">Pas d'assignments !</p>
<div class="list" *ngIf="assignment.length >= 0">
  <div class="contenu" *ngFor="let assignment of assignment">
    <mat-card class="card"  *ngIf=" !assignment.note">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{ assignment.nom }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ assignment.imageUrl }}" />
      <mat-card-content>
        <div *ngIf="!assignment.note">
          <strong>Nom de l'Auteur : {{ assignment.auteur}}</strong>
          <p> Tp à rendre le  : {{ assignment.dateRenduPrevu | date:'dd/MM/yyyy'}}</p>
      </div>      
      </mat-card-content>
      <mat-card-actions>
         <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onModify(assignment._id)"><mat-icon>edit</mat-icon></button>
         <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="onDelete(assignment._id)"><mat-icon>delete</mat-icon></button>
         <button *ngIf="!assignment.note" mat-fab color="primary" aria-label="Example icon button with a delete icon"(click)="onNote(assignment._id)">Noter</button>
      </mat-card-actions>
    </mat-card>
 </div>
</div>