.text-center{
  position: relative;
  border: red solid 5px;
  border-radius: 15px;
  height: 70px;
  width: 830px;
  background:white;
  color: red;
  padding-top:10px;
}

.conteneur{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  h1 {
    color: #333333
  }
}

.contenu {
  display: flex;
  justify-content: center;
}

.affichage {
  transition: all 0.3s ease-in-out;
  position: relative;
  border: grey solid 8px;
  border-radius: 10px;
  margin: 10px;
  height: 200px;
  width: 400px;
  background:red;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
  h2 {
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
  }
  h3 {
    color: white;
    width: 100%;
    top: 50%;
    text-align: center;
    
  }
}
