<mat-spinner *ngIf="loading"></mat-spinner>

<mat-card class="add"><button mat-raised-button (click)="onAdd()">Ajouter un Assignment</button></mat-card>
<div class="container">
<p class="text-center" *ngIf="prof.length <= 0 && !loading">Pas d'enregistrement !</p>
<div class="stuff-grid" *ngIf="prof.length >= 0">
  <div class="assignment-pane" *ngFor="let prof of prof" 
>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ prof.nom }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ prof.imageUrl }}" />
      <mat-card-content>
        <p>
          Attribuer à: {{ prof.matiere}}
        </p>
      </mat-card-content>
      <mat-card-actions>
         <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onModify(prof._id)"><mat-icon>edit</mat-icon></button>
         <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="onDelete(prof._id)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
 </div>
</div>
</div>
