<mat-card class="add"><button mat-raised-button color="warn" (click)="onAdd()"> <mat-icon>person_add</mat-icon>
  Ajouter un Prof</button></mat-card>
<mat-spinner *ngIf="loading"></mat-spinner>
<p class="text-center" *ngIf="prof.length <= 0 && !loading">Pas de Prof Enregistré !</p>
<div class="list" *ngIf="prof.length >= 0">
  <div class="contenu" *ngFor="let prof of prof">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ prof.imageUrl }}" />
      <mat-card-content>
        <div>
          <strong>Nom de l'enseignant est  : {{ prof.nom}}</strong>
          <p> Matiere : {{ prof.matiere}}</p>
      </div>      
      </mat-card-content>
      <mat-card-actions>
         <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onModify(prof._id)"><mat-icon>edit</mat-icon></button>
         <button mat-fab color="warn" aria-label="Example icon button with a delete icon" (click)="onDelete(prof._id)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
 </div>
</div>